.incidencia {
  background-color: #FAD7A0;
  margin: 10px;
}

.incidencia h1 {
  font-size: 18pt;
  color: white;
  background-color: #F39C12;
}

.informacion-incidencia{
  display: none;
}

.scripts-incidencia{
  display: none;
}

.comentarios-incidencia {
  display: none;
}
.comentarios-incidencia legend{
  color: white;
}

.comentarios-incidencia fieldset{
  margin: 5px;
  background-color: #F39C12;
}

.descripcion-incidencia {
  margin: 5px;
  background-color: #F39C12;
}
