<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="author" content="Laura Gomez y Paula Ruiz">
    <meta name="keywords" content="tecnologias web, html, php, pokemon, vencindario, quejas">
    <link rel="stylesheet" href="./css/index2.css"/>
    <link href="./assets/index.css" rel="stylesheet"/>
    <link href="./assets/css/bootstrap.css" rel="stylesheet"/>
    {% block css %}
    {% endblock %}
    <title>Pokejas</title>
  </head>
  <body>
    <header>
      <section class="title">
        <div class="titulos">
          <h1>Pokejas! Atrapalas todas.</h1>
        </div>
      </section>
    </header>

    {% block nav %}
    <nav class="navbar d.flex justify-content-around">
      <a href="busqueda.php">Ver Incidencias</a>

      {% if loggedUser.rango == 'Colaborador' %}
        <a href="nuevaIncidencia.php">Nueva Incidencia</a>
        <a href="misIncidencias.php">Mis Incidencias</a>
      {% endif %}

      {% if loggedUser.rango == 'Administrador' %}
        <a href="nuevaIncidencia.php">Nueva Incidencia</a>
        <a href="misIncidencias.php">Mis Incidencias</a>
        <a href="gestionUsuarios.php">Gestion de Usuarios</a>
        <a href="log.php">Ver log</a>
        <a href="gestionBD.php">Gestion de la BBDD</a>
      {% endif %}
    </nav>
    {% endblock %}

    <div class="row">
      <main class="col-9">
        {% block main %}
        <h1>Bienvenido al centro pokemon de quejas.</h1>
        {% endblock %}
      </main>
      <aside class="col-3">
        <div class="infoLateral">

        {% if loggedUser is null %}
          <section class="registrarse">
            <form>
              <div class="form-group">
                <label for="exampleInputEmail1">Correo</label>
                <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
              </div>
              <div class="form-group">
                <label for="exampleInputPassword1">Contraseña</label>
                <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
              </div>
              <button type="submit" class="btn btn-primary">Submit</button>
            </form>
          </section>
          {% else %}
            <label>Nombre: {{ loggedUser.nombre }}</label>
            <label>{{ loggedUser.foto }}</label>
            <form action="/core/POST/postLogout.php" method="post">
            <input name="logout" type="submit" value="Logout"/>
            </form>
          {% endif %}

          <section class="tituloLateral">
            <ol>
              <li></li>
              <li></li>
              <li></li>
            </ol>
          </section>
        </div>
      </aside>
    </div>

    <footer>
      <div class="">
        <p>(C) Tecnologías Web</p>
      </div>

      <div class="">
        <p>Laura Gómez Garrido</p>
        <p>Paula Ruiz García</p>
        <a href="#">Documentacion</a>
      </div>

      <div class="">

      </div>
    </footer>
  </body>
</html>
