{% extends "vista/base.html" %}
{% block css %}
<link href="./assets/busqueda.css" rel="stylesheet"/>
<link href="./assets/incidencia.css" rel="stylesheet"/>
{% endblock %}

{% block javascript %}
  <script src="./assets/incidencias.js"></script>
{% endblock %}

{% block main %}

<form class="formularioBusqueda" action="busqueda.php" method="post">
  <fieldset>
    <legend>Ordenar por:</legend>
      <div class="form-check">
        <input type="radio" name="ordenarBusqueda" value="fecha" {% if ordenarBusqueda in ['fecha',""] %}checked{% endif %}>
        <label for="fecha">Fecha (primero las mas recientes)</label>
      </div>

      <div class="form-check">
        <input type="radio" name="ordenarBusqueda" value="positivas" {% if ordenarBusqueda in ['positivas'] %}checked{% endif %}>
        <label for="positivas">Numero de positivas (de mas a menos)</label>
      </div>

      <div class="form-check">
        <input type="radio" name="ordenarBusqueda" value="neto" {% if ordenarBusqueda in ['neto'] %}checked{% endif %}>
        <label for="neto">Numero de positivas netas (de mas a menos)</label>
      </div>

  </fieldset>

  <fieldset>
    <legend>Incidencias que contengan:</legend>
      <label for="texto">Texto de busqueda:</label>

      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="lugarBusqueda" value="lugarTitulo" {% if lugarBusqueda in ['lugarTitulo',""] %}checked{% endif %} >
        <label class="form-check-label" for="lugarTitulo">Título</label>
      </div>

      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="lugarBusqueda" value="lugarDescripcion" {% if lugarBusqueda in ['lugarDescripcion'] %}checked{% endif %}>
        <label class="form-check-label" for="lugarDescripcion">Descripción</label>
      </div>

      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="lugarBusqueda" value="lugarClave" {% if lugarBusqueda in  ['lugarClave'] %}checked{% endif %}>
        <label class="form-check-label" for="lugarClave">Palabras Clave</label>
      </div>

      <input type="text" class="form-control" name="textoBusqueda" placeholder="Escribe aqui el texto.">

  </fieldset>

  <fieldset>
    <legend>Lugar de la incidencia:</legend>
    <select class="desplegable-lugares" name="lugar">
      {% for lugar in lugares %}
      <option value="{{lugar.lugar}}" {% if lugar.lugar is same as(lugarIncidencia) %}selected{% endif %}>{{lugar.lugar}}</option>
      {% endfor %}
    </select>
  </fieldset>

  <fieldset>
    <legend>Estado: </legend>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="checkbox" name="estadoBusqueda[]" value="Pendiente" {% if 'Pendiente' in estadoBusqueda %}checked{% endif %}>
        <label class="form-check-label" for="Pendiente">Pendiente</label>
      </div>

      <div class="form-check form-check-inline">
        <input class="form-check-input" type="checkbox" name="estadoBusqueda[]" value="Comprobada" {% if 'Comprobada' in estadoBusqueda %}checked{% endif %}>
        <label class="form-check-label" for="Comprobada">Comprobada</label>
      </div>

      <div class="form-check form-check-inline">
        <input class="form-check-input" type="checkbox" name="estadoBusqueda[]" value="Tramitada" {% if 'Tramitada' in estadoBusqueda %}checked{% endif %}>
        <label class="form-check-label" for="Tramitada">Tramitada</label>
      </div>

      <div class="form-check form-check-inline">
        <input class="form-check-input" type="checkbox"  name="estadoBusqueda[]" value="Irresoluble" {% if 'Irresoluble' in estadoBusqueda %}checked{% endif %}>
        <label class="form-check-label" for="Irresoluble">Irresoluble</label>
      </div>

      <div class="form-check form-check-inline">
        <input class="form-check-input" type="checkbox" name="estadoBusqueda[]" value="Resuelta" {% if 'Resuelta' in estadoBusqueda %}checked{% endif %}>
        <label class="form-check-label" for="Resuelta">Resuelta</label>
      </div>
  </fieldset>

    <input type="submit" class="btn btn-primary" value="Aplicar criterios de busqueda"/>
</form>


{% if incidencias is defined %}
  {% for incidencia in incidencias %}
    <section id="incidencia-{{incidencia.id}}" class="incidencia">
      <section class="texto-incidencia">

        <h1 onclick="desplegarIncidencia({{incidencia.id}})"> {{incidencia.titulo}}</h1>
        <div id="infoIncidencia-{{incidencia.id}}" class="informacion-incidencia container">
            <div class="row">
              <span class="col-sm-4"><strong>Lugar:</strong> {{incidencia.lugar}}</span>
              <span class="col-sm-4"><strong>Fecha:</strong> {{incidencia.fecha}}</span>
              <span class="col-sm-4"><strong>Creado por:</strong> {{incidencia.usuario.nombre}} {{incidencia.usuario.familia}}</span>
            </div>

            <div class="row">
              <span class="col-sm-4"><strong>Palabras Clave:</strong> {{incidencia.palabrasClave}}</span>
              <span class="col-sm-4"><strong>Estado:</strong> {{incidencia.estado}}</span>
              <span class="col-sm-4"><strong>Valoraciones:</strong> +{{incidencia.positivas}}  -{{incidencia.negativas}}</span>
            </div>

            <div class="descripcion-incidencia">
              <label><strong>Descripcion</strong></label>
              <p>{{incidencia.descripcion}}</p>
            </div>

            <div class="imagenes">
              <label><strong>Imagenes</strong></label>
              {% for imagen in incidencia.imagenes %}
              <img src="./imagenes/{{imagen}}" alt="">
              {% endfor %}
            </div>
        </div>
      </section>
      <section id="nuevoComentarioIncidencia-{{incidencia.id}}" class="scripts-incidencia">
        <div class="container">
          <div class="row">
            <div class="col md-8">
              <form class="nuevoComentario" action="busqueda.php" method="post">
                <input type="text" class="form-control" name="comentario" placeholder="Nuevo comentario.">
                <input type="hidden" name="identificadorInci" value="{{incidencia.id}}">
                <input type="submit" class="btn btn-primary" value="Enviar comentario"/>
              </form>
            </div>
            <div class="col md-4 d-flex justify-content-end">
              {% if loggedUser.rango == 'Administrador' %}
                <form class="editarIncidencia" action="editarIncidencia.php" method="post">
                  <input type="hidden" name="identificadorInci" value="{{incidencia.id}}">
                  <input type="submit" class="btn btn-primary" value="Editar"/>
                </form>
                <form class="borrarIncidencia" action="./core/POST/admin/postBorrarIncidencia.php" method="post">
                  <input type="hidden" name="identificadorInci" value="{{incidencia.id}}">
                  <input type="submit" class="btn btn-primary" value="Borrar"/>
                </form>
              {% endif %}
              <form class="valoracionPositiva" action="busqueda.php" method="post">
                <input type="hidden" name="identificadorInci" value="{{incidencia.id}}">
                <input type="submit" class="btn btn-primary" value="+" name="valoracion"/>
              </form>
              <form class="valoracionNegativa" action="busqueda.php" method="post">
                <input type="hidden" name="identificadorInci" value="{{incidencia.id}}">
                <input type="submit" class="btn btn-primary" value="-" name="valoracion"/>
              </form>
            </div>
          </div>
        </div>
      </section>
      <section id="listaComentariosIncidencia-{{incidencia.id}}" class="comentarios-incidencia">
        <fieldset>
          <legend>Comentarios</legend>
          {% for comentario in incidencia.comentarios %}
          <div class="media container">
            <img src="..." class="align-self-center mr-3" alt="...">
            <div class="media-body">
              <span class="mt-0"><strong>{{comentario.usuario.nombre}} {{comentario.usuario.familia}}</strong></span>
              <p>{{comentario.comentario}}</p>
            </div>
          </div>
          {% endfor %}
        </fieldset>
      </section>
    {% endfor %}
  {% else %}
    <p>NO DEFINIDO</p>
  {% endif %}
</section>
{% endblock %}
