{% extends "vista/base.html" %}
{% block css %}
<link href="./assets/busqueda.css" rel="stylesheet"/>
<link href="./assets/incidencia.css" rel="stylesheet"/>
{% endblock %}

{% block main %}

<form class="formularioBusqueda" action="busqueda.php" method="post">
  <fieldset>
    <legend>Ordenar por:</legend>
      <div class="form-check">
        <input type="radio" name="ordenarBusqueda" value="fecha" checked>
        <label for="fecha">Fecha (primero las mas recientes)</label>
      </div>

      <div class="form-check">
        <input type="radio" name="ordenarBusqueda" value="positivas">
        <label for="positivas">Numero de positivas (de mas a menos)</label>
      </div>

      <div class="form-check">
        <input type="radio" name="ordenarBusqueda" value="netos">
        <label for="netos">Numero de positivas netos (de mas a menos)</label>
      </div>

  </fieldset>

  <fieldset>
    <legend>Incidencias que contengan:</legend>
      <label for="texto">Texto de busqueda:</label>

      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="lugarBusqueda" value="lugarTitulo">
        <label class="form-check-label" for="lugarTitulo">Título</label>
      </div>

      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="lugarBusqueda" value="lugarDescripcion">
        <label class="form-check-label" for="lugarDescripcion">Descripción</label>
      </div>

      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="lugarBusqueda" value="lugarClave">
        <label class="form-check-label" for="lugarClave">Palabras Clave</label>
      </div>

      <input type="text" class="form-control" name="textoBusqueda" placeholder="Escribe aqui el texto.">

  </fieldset>

  <fieldset>
    <legend>Lugar de la incidencia:</legend>
    <select class="desplegable-lugares">
      {% for lugar in lugares %}
      <option value="{{lugar.lugar}}">{{lugar.lugar}}</option>
      {% endfor %}
    </select>
  </fieldset>

  <fieldset>
    <legend>Estado: </legend>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="checkbox" name="estadoBusqueda[]" value="Pendiente">
        <label class="form-check-label" for="Pendiente">Pendiente</label>
      </div>

      <div class="form-check form-check-inline">
        <input class="form-check-input" type="checkbox" name="estadoBusqueda[]" value="Comprobada">
        <label class="form-check-label" for="Comprobada">Comprobada</label>
      </div>

      <div class="form-check form-check-inline">
        <input class="form-check-input" type="checkbox" name="estadoBusqueda[]" value="Tramitada">
        <label class="form-check-label" for="Tramitada">Tramitada</label>
      </div>

      <div class="form-check form-check-inline">
        <input class="form-check-input" type="checkbox"  name="estadoBusqueda[]" value="Irresoluble">
        <label class="form-check-label" for="Irresoluble">Irresoluble</label>
      </div>

      <div class="form-check form-check-inline">
        <input class="form-check-input" type="checkbox" name="estadoBusqueda[]" value="Resuelta">
        <label class="form-check-label" for="Resuelta">Resuelta</label>
      </div>
  </fieldset>

    <input type="submit" class="btn btn-primary" value="Aplicar criterios de busqueda"/>
</form>

<section class="incidencia">
  {% if incidencias is defined %}
  {% for incidencia in incidencias %}
  <section class="texto-incidencia">

    <h1> {{incidencia.titulo}}</h1>
    <div class="informacion-incidencia container">
        <div class="row">
          <span class="col-sm-4"><strong>Lugar:</strong> {{incidencia.lugar}}</span>
          <span class="col-sm-4"><strong>Fecha:</strong> {{incidencia.fecha}}</span>
          <span class="col-sm-4"><strong>Creado por:</strong> {{incidencia.usuario.nombre}} {{incidencia.usuario.familia}}</span>
        </div>

        <div class="row">
          <span class="col-sm-4"><strong>Palabras Clave:</strong> {{incidencia.palabrasClave}}</span>
          <span class="col-sm-4"><strong>Estado:</strong> {{incidencia.estado}}</span>
          <span class="col-sm-4"><strong>Valoraciones:</strong> +{{incidencia.positivas}}  -{{incidencia.negativas}}</span>
        </div>

        <div class="descripcion-incidencia">
          <label><strong>Descripcion</strong></label>
          <p>{{incidencia.descripcion}}</p>
        </div>

        <div class="imagenes">
          <label><strong>Imagenes</strong></label>
          {% for imagen in incidencia.imagenes %}
          <img src="./imagenes/{{imagen}}" alt="">
          {% endfor %}
        </div>
    </div>
  </section>
  <section class="scripts-incidencia">
    {% if loggedUser %}
      <form class="nuevoComentario" action="busqueda.php" method="post">
        <input type="text" class="form-control" name="comentario" placeholder="Nuevo comentario.">
        <input type="hidden" name="identificadorInci" value="{{incidencia.id}}">
        <input type="submit" class="btn btn-primary" value="Enviar comentario"/>
      </form>
      {% if loggedUser.rango == 'Administrador' %}
        <form class="editarIncidencia" action="editarIncidencia.php" method="post">
          <input type="hidden" name="identificadorInci" value="{{incidencia.id}}">
          <input type="submit" class="btn btn-primary" value="Editar"/>
        </form>
      {% endif %}
    {% endif %}
    <form class="valoracionPositiva" action="busqueda.php" method="post">
      <input type="hidden" name="identificadorInci" value="{{incidencia.id}}">
      <input type="submit" class="btn btn-primary" value="+" name="valoracion"/>
    </form>
    <form class="valoracionNegativa" action="busqueda.php" method="post">
      <input type="hidden" name="identificadorInci" value="{{incidencia.id}}">
      <input type="submit" class="btn btn-primary" value="-" name="valoracion"/>
    </form>
  </section>
  <section class="comentarios-incidencia">
    <fieldset>
      <legend>Comentarios</legend>
      {% for comentario in incidencia.comentarios %}
      <div class="media container">
        <img src="..." class="align-self-center mr-3" alt="...">
        <div class="media-body">
          <span class="mt-0"><strong>{{comentario.usuario.nombre}} {{comentario.usuario.familia}}</strong></span>
          <p>{{comentario.comentario}}</p>
        </div>
      </div>
      {% endfor %}
    </fieldset>
  </section>
  {% endfor %}
  {% else %}
    <p>NO DEFINIDO</p>
  {% endif %}
</section>
{% endblock %}
