{% extends "vista/base.html" %}
{% block main %}
  {% if loggedUser is null %}
    <h1>No eres usuario, no puedes acceder a esta pagina.</h1>
  {% else %}
  <section class="editarIncidencia">
    {% if incidencia is defined %}
    <form action="editarIncidencia.php" method="post">
      <label for="titulo">Titulo</label>
      <input type="text" name="titulo" required value="{{incidencia.titulo}}">
      <label for="descripcion">Descripcion</label>
      <textarea name="descripcion" rows="8" cols="80" >{{incidencia.descripcion}}</textarea>
      <label for="lugar">Lugar</label>
      <input type="text" name="lugar" required value="{{incidencia.lugar}}">
      <label for="palabras">Palabras Clave</label>
      <input type="text" name="palabras" value="{{incidencia.palabrasClave}}">
      <input type="hidden" name="identificadorInci" value="{{incidencia.id}}">
      <select class="desplegable-estado" name="estado" {% if loggedUser.rango is not constant('Administrador') %} disabled {% endif %}>
        {% set array=  ["Pendiente","Comprobada","Tramitada","Irresoluble","Resuelta"] %}
        {% for elemento in array %}
        <option value="{{elemento}}" {% if incidencia.estado is same as(elemento) %}selected{% endif %}>{{elemento}}</option>
        {% endfor %}
      </select>
      <input type="hidden" name="modificado" value="modificado">
      <input type="submit" value="Finalizar edicion"/>
    </form>
    {% endif %}
  </section>
  {% endif %}
{% endblock %}
