{% extends "vista/base.html" %}
{% block main %}
  {% if loggedUser == null %}
    <h1>No estas registrado.</h1>
  {% else %}
    <form action="editarUsuario.php" method="post">
      <input type="hidden" name="usuario" value="{{usuario.id}}">
      <input type="hidden" name="modificado" value="modificado">
      <fieldset>
        <legend>Editar Usuario</legend>
        <div class="form-row">
          <label for="Imagen">Imagen</label>
          <div class="imagenes">
            <img src="./imagenes/Usuario-{{usuario.id}}.{{usuario.extImagen}}" alt="">
          </div>
        </div>

        <div class="form-row">
          <div class="col">
            <label for="Nombre">Nombre</label>
            <input type="text" class="form-control" name="nombre" value="{{usuario.nombre}}" required>
          </div>
          <div class="col">
            <label for="Familia">Familia</label>
            <input type="text" class="form-control" name="familia" value="{{usuario.familia}}" required>
          </div>
        </div>

        <div class="form-row">
          <div class="form-group col-md-8">
            <label for="Email">Email</label>
            <input type="email" class="form-control" name="email" id = "checkEmail" value="{{usuario.email}}" onblur='validarEmail(this)' placeholder="usuario@usuario.algo" required>
            <div class='info' id='emailinfo'></div>
          </div>
          <div class="form-group col-md-4">
            <label for="Contraseña">Contraseña</label>
            <input type="password" class="form-control" name="contraseña" onblur='validarContraseña(this)'>
            <div class='info' id='contraseñainfo'></div>
          </div>
        </div>

        <div class="form-row">
          <div class="col">
            <label for="postal">Direccion Postal</label>
            <input type="text" class="form-control" name="postal" value="{{usuario.direccion}}" onblur='validarPostal(this)' placeholder="99099" required>
            <div class='info' id='postalinfo'></div>
          </div>
          <div class="col">
            <label for="tlf">Telefono</label>
            <input type="tel" class="form-control" name="tlf" value="{{usuario.telefono}}" onblur='validarTelefono(this)' placeholder="999 999999" required>
            <div class='info' id='tlfinfo'></div>
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-md-4">
            <label class="my-1 mr-2" for="inlineFormCustomSelectPref">Rango</label>
            <select class="custom-select my-1 mr-sm-2" name="rango" {% if loggedUser.rango is not constant('Administrador') %} disabled {% endif %} >
              {% set array=  ["Administrador","Colaborador"] %}
              {% for elemento in array %}
              <option value="{{elemento}}" {% if usuario.rango is same as(elemento) %}selected{% endif %}>{{elemento}}</option>
              {% endfor %}
            </select>
          </div>
          <div class="form-group col-md-4">
            <label class="my-1 mr-2" for="inlineFormCustomSelectPref">Estado</label>
            <select class="custom-select my-1 mr-sm-2" name="estado" {% if loggedUser.rango is not constant('Administrador') %} disabled {% endif %} >
              {% set array=  ["Activo","Inactivo"] %}
              {% for elemento in array %}
              <option value="{{elemento}}" {% if usuario.estado is same as(elemento) %}selected{% endif %}>{{elemento}}</option>
              {% endfor %}
            </select>
          </div>
        </div>
      </fieldset>
      <input type="submit" class="btn btn-primary" value="Editar Usuario"/>
    </form>

    <form action="editarUsuario.php" method="post" enctype="multipart/form-data">
      <fieldset>
        <legend>Añadir Imagenes</legend>
          <input type="hidden" name="usuario" value="{{usuario.id}}">
          <input type="file" name="imagen" accept="image/jpeg, image/gif, image/png" required>
          <input type="submit" class="btn btn-primary" name="nuevaImagen" value="Enviar Imagen"/>
      </fieldset>
    </form>
  {% endif %}
{% endblock %}
