{% extends "vista/base.html" %}
{% block main %}
  {% if loggedUser is null %}
    <h1>No eres usuario, no puedes acceder a esta pagina.</h1>
  {% else %}
  <div class="incidencia">
    <section>
      <h1> Titulo de la incidencia</h1>

      <span>Lugar: {{incidencia.lugar}}</span>
      <span>Fecha: {{incidencia.fecha}}</span>
      <span>Creado por: {{incidencia.autor}}</span>
      <span>Palabras Clave: </span>
      <span>Estado: </span>
      <span>Valoraciones: </span>

      <p>{{incidencia.descripcion}}</p>
    </section>
  </div>
  {% endif %}
{% endblock %}
