{% extends "vista/base.html" %}
{% block css %}
  <link href="./assets/incidencia.css" rel="stylesheet"/>
{% endblock %}

{% block javascript %}
  <script src="./assets/incidencias.js"></script>
{% endblock %}

{% block main %}
  {% if loggedUser is null %}
    <h1>No eres usuario, no puedes acceder a esta pagina.</h1>
  {% elseif loggedUser.estado in ['Inactivo'] %}
    <h1>Usuario inactivo. Por favor, consulte con su administrador.</h1>
  {% else %}

    {% if incidencias is defined %}
    {% for incidencia in incidencias %}
    <section id="incidencia-{{incidencia.id}}" class="incidencia">
      <section class="texto-incidencia">

        <h1 onclick="desplegarIncidencia({{incidencia.id}})"> {{incidencia.titulo}}</h1>
        <div id="infoIncidencia-{{incidencia.id}}" class="informacion-incidencia container">
            <div class="row">
              <span class="col-sm-4"><strong>Lugar:</strong> {{incidencia.lugar}}</span>
              <span class="col-sm-4"><strong>Fecha:</strong> {{incidencia.fecha}}</span>
              <span class="col-sm-4"><strong>Creado por:</strong> {{incidencia.usuario.nombre}} {{incidencia.usuario.familia}}</span>
            </div>

            <div class="row">
              <span class="col-sm-4"><strong>Palabras Clave:</strong> {{incidencia.palabrasClave}}</span>
              <span class="col-sm-4"><strong>Estado:</strong> {{incidencia.estado}}</span>
              <span class="col-sm-4"><strong>Valoraciones:</strong> +{{incidencia.positivas}}  -{{incidencia.negativas}}</span>
            </div>

            <div class="descripcion-incidencia">
              <label><strong>Descripcion</strong></label>
              <p>{{incidencia.descripcion}}</p>
            </div>

            <div class="imagenes">
              <label><strong>Imagenes</strong></label>
              {% for imagen in incidencia.imagenes %}
              <img src="./imagenes/{{imagen}}" alt="">
              {% endfor %}
            </div>
        </div>
      </section>
      <section id="listaComentariosIncidencia-{{incidencia.id}}" class="comentarios-incidencia">
        <fieldset>
          <legend>Comentarios</legend>
          {% for comentario in incidencia.comentarios %}
          <div class="media container">
            <img src="..." class="align-self-center mr-3" alt="...">
            <div class="media-body">
              <span class="mt-0"><strong>{{comentario.usuario.nombre}} {{comentario.usuario.familia}}</strong></span>
              <p>{{comentario.comentario}}</p>
            </div>
          </div>
          {% endfor %}
        </fieldset>
      </section>
      <section class="scripts-incidencia">
        <form class="editarIncidencia" action="editarIncidencia.php" method="post">
          <input type="hidden" name="identificadorInci" value="{{incidencia.id}}">
          <input type="submit" class="btn btn-primary" value="Editar"/>
        </form>
      </section>
    </section>
    {% endfor %}
    {% else %}
      <p>NO DEFINIDO</p>
    {% endif %}
  {% endif %}
{% endblock %}
