{% extends "vista/base.html" %}
{% block main %}
  {% if loggedUser.rango == "Colaborador" %}
    <h1>Ya estas registrado.</h1>
  {% elseif loggedUser.estado is constant('Inactivo') %}
    <h1>Usuario inactivo. Por favor, consulte con su administrador.</h1>
  {% else %}
    <form action="./core/POST/admin/postNuevoUsuario.php" method="post" enctype="multipart/form-data">
      <fieldset>
        <legend>Nuevo Usuario</legend>

        <div class="form-row">
          <div class="col">
            <label for="Nombre">Nombre</label>
            <input type="text" class="form-control" name="nombre" required>
          </div>
          <div class="col">
            <label for="Familia">Familia</label>
            <input type="text" class="form-control" name="familia" required>
          </div>
        </div>

        <div class="form-row">
          <div class="form-group col-md-8">
            <label for="Email">Email</label>
            <input type="email" class="form-control" name="email" id = "checkEmail" onblur='validarEmail(this)' placeholder="usuario@usuario.algo" required>
            <div class='info' id='emailinfo'></div>
          </div>
          <div class="form-group col-md-4">
            <label for="Contraseña">Contraseña</label>
            <input type="password" class="form-control" name="contraseña" onblur='validarContraseña(this)' required>
            <div class='info' id='contraseniainfo'></div>
          </div>
        </div>

        <div class="form-row">
          <div class="col">
            <label for="postal">Direccion Postal</label>
            <input type="text" class="form-control" name="postal" onblur='validarPostal(this)' placeholder="99099" required>
            <div class='info' id='postalinfo'></div>
          </div>
          <div class="col">
            <label for="tlf">Telefono</label>
            <input type="tel" class="form-control" name="tlf" onblur='validarTelefono(this)' placeholder="999 999999" required>
            <div class='info' id='tlfinfo'></div>
          </div>
        </div>
        <div class="form-row">
          <div class="col">
            <label for="imagen">Foto</label>
            <input type="file" name="imagen" accept="image/jpeg, image/gif, image/png" required>
          </div>
        </div>
      </fieldset>
      <input type="submit" class="btn btn-primary" value="Crear Usuario"/>
    </form>
  {% endif %}
{% endblock %}
